.title-vct {
    border-bottom: 1px solid #ccc;
}

.title-vct h4 {
    color: #e8bd72;
    font-weight: 600;
}

.chi-muc {
    text-decoration: underline;
    font-style: italic;
    color: #5a6069;
}

.content {
    color: #5a6069;
    font-style: italic;
    line-height: 2;
}